APP_NAME=KhafidSwimmingClub
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://khafidswimmingclub.com

APP_LOCALE=id
APP_FALLBACK_LOCALE=en

# Log configuration (Daily helps to manage disk space on shared hosting)
LOG_CHANNEL=daily
LOG_LEVEL=error

# Database Configuration (Get Host, DB Name, and User from InfinityFree Control Panel)
DB_CONNECTION=mysql
DB_HOST=sqlxxx.infinityfree.com
DB_PORT=3306
DB_DATABASE=ifxxx_web_swimming
DB_USERNAME=ifxxx_user
DB_PASSWORD=

# Session and Cache (Using 'file' driver for maximum stability on shared hosting)
SESSION_DRIVER=file
SESSION_LIFETIME=120
CACHE_STORE=file

# Filesystem and Queue
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

# Mail Configuration (Setup SMTP for sending notifications/registrations)
MAIL_MAILER=smtp
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=465
MAIL_USERNAME=noreply@example.com
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=noreply@example.com
MAIL_FROM_NAME="${APP_NAME}"

# Security & Third Party
WEBARTISAN_ENABLED=false
WEBARTISAN_PASSWORD=
TINYMCE_API_KEY=
